
.moveBar {
  margin-bottom: 2px;
  height: 10px;
  background-color: aliceblue;
  -webkit-app-region: drag;
  border-radius: 5px
}
.hoverActive {
  &:hover {
    color: #3b73ff;
  }
}
.itemHover {
  &:hover {
    background-color: #faebd7 !important;
  }
}
.itemSelected {
  background-color: #e6f4ff !important;
}

.scoll {
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;  /* 隐藏垂直滚动条 */
    height: 0px;  /* 隐藏水平滚动条 */
  }
}
.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
.cursor-default {
  cursor: default;
}
.font-7 {
  font-size: 0.7em
}
.active-blue {
  color: #3b73ff;
}
.bc-1 {
  background-color: #fff9f2;
}
.bc-2 {
  background-color: #ffebcd;
}
.bc-3 {
  background-color: #ffe2b6;
}
.color-1 {
  color: #fff9f2;
}
.color-2 {
  color: #ffebcd;
}
.color-31 {
  color: #ffe2b6;
}